@model TechnicalSkill.DAL.Category
@{
    ViewBag.Title = "CategoryDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="javascript:void(0)">Category Detail</a>
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Category Detail</h3>
                <button class="btn btn-sm btn-primary btn-add">Load more Post</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatables" role="grid" aria-describedby="example4_info">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>SourceID</th>
                                <th>Category</th>
                                <th>Created_At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_user"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section AdminlteJs{
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
}
@section scripts{
    <script>
        const managerPost = {
            delete: function (id) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Post")",
                    data: {id : id},
                    success: function (res) {
                        if (res.statusCode === 200) {
                            notifySuccess('Successfully',"Deleted Successfully");
                            $('#datatables').DataTable().ajax.reload();
                        }else {
                            notifyError('Error',"Deleted Error");
                            $('#datatables').DataTable().ajax.reload();
                        }

                    }
                })
            }
        }
    $(function () {
        $('#datatables').DataTable({
            "paging": true,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "processing": true,
            "filter": true,
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "ajax": {
                url: "@Url.Action("GetPost", "Category")",
                data: function (d) {
                    d.Id = @Model.Id;
                    },
            },
                "order": [
                    [6, 'desc']
                ],
                "columns": [
                    {
                        data: 'Id',
                        className: 'align-middle text-center'
                    },
                    {
                        data: 'Title',
                        className: 'align-middle',
                    },
                    {
                        data: 'Description',
                        className: 'align-middle',
                    },
                    {
                        data: 'SourceID',
                        className: 'align-middle',
                    },
                    {
                        data: 'CategoryName',
                        className: 'align-middle',
                    },
                    {
                        data: 'Created_At',
                        className: 'align-middle',
                    },
                    {
                        data: { Id: 'Id'},
                        render: function (data) {
                            return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);">' +
                                '<a  data-id=" ' + data.Id + '" class="dropdown-item text-danger btn-delete" href="javascript:void(0);">Delete</a></div></div>'
                             }
                    },
                ]
         })

        $(document).on("click", ".btn-delete", function () {
            let catId = $(this).data("id");
            managerPost.delete(catId);
        });

    })
    </script>
}